@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin p_styles {
  font-family: "Raleway", sans-serif;
  color: gray;
  font-size: 0.8rem;
  margin: 0;
}

@mixin btn_text_styles {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
@mixin btn_styles {
  background: none;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
}
@mixin d_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin span_styles {
  font-size: 0.55rem;
  color: grey;
  font-weight: bold;
  font-family: "Noto Sans";
}
.login-container,
.App {
  display: flex;
  .login-form-container {
    padding: 2rem 0;
    padding-top: 4rem;
    flex: 50%;
    .login-form-header {
      display: grid;
      justify-items: center;
      margin-bottom: 1.6rem;
      .login-form-header-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h2 {
          font-family: "Noto Sans", sans-serif;
          font-size: 2rem;
          margin: 0;
          margin-bottom: 0.7rem;
        }
        p {
          @include p_styles();
        }
      }
    }
    .login-form-email-pwd-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .login-form-email,
      .login-form-password {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        width: 50%;
        margin-left: 10%;

        label {
          font-family: "Noto Sans", sans-serif;
          font-size: 0.8rem;
          font-weight: 500;
          // border: 2px solid red;
        }
        .email-login-input,
        .ant-input-affix-wrapper {
          // width: 120%;
          height: 2.2rem;
        }
      }
    }
    .login-form-checkbox-forgot-wrapper {
      margin-top: 1rem;
      margin-left: 8.5%;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .checkbox {
        span {
          font-family: "Noto Sans", sans-serif;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
      .forgot-btn {
        @include btn_styles();
        span {
          @include btn_text_styles();
        }
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
    .login-form-signin-btns-wrapper {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      margin-left: 6.5%;

      .login-form-g-signin-btn {
        width: 53.5%;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span {
          font-family: "Noto Sans", sans-serif;
        }
      }
      .login-form-signin-btn {
        // width: 50%;
        width: 53.5%;
        margin-left: 20px;
        border: 0;
        background: rgba(0, 0, 0, 0.8);
        &:hover {
          background: rgba(0, 0, 0, 1);
          border: 0;
        }
        span {
          color: white;
          font-family: "Noto Sans", sans-serif;
          font-size: 0.85rem;
        }
      }
    }
    .login-form-signup-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      margin-top: 1.2rem;
      .signup-text-1 {
        @include p_styles();
      }
      .signup-btn {
        @include btn_styles();

        .signup-text-2 {
          @include btn_text_styles();
        }
      }
    }
  }
  .login-card-container {
    flex: 50%;
    background: url("../assets/img/hannah-olinger-NXiIVnzBwZ8-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 10rem;
    .login-carousel-btns {
      position: absolute;
      top: 85%;
      // left: -2%;
      margin-left: 38.5%;
      display: flex;
      gap: 1rem;
      z-index: 999;

      .next-btn {
      }
      .next-btn,
      .prev-btn {
        background: none;
        border-radius: 50%;
        padding: 0;
        width: 2.5rem;
        height: fit-content;
        .ant-btn-icon {
          img {
            position: relative;
            top: 3px;
            width: 30px;
            // transform: scale(10.8);
          }
        }
      }
    }
    .login-carousel-container {
      margin-top: 46%;
      position: relative;
      .ant-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        .login-antd-carousel {
          min-height: 15rem;
          background: rgba(231, 219, 219, 0.428);
          // position: relative;
          // bottom: 6rem;
          width: 93%;
          backdrop-filter: blur(3px);
          // The backdrop-filter CSS property lets you apply graphical effects such as blurring or color shifting to the area behind an element. Because it applies to everything behind the element, to see the effect you must make the element or its background at least partially transparent.
        }
      }
    }
    &.login-card-container__slide1 {
      background: url("../assets/img/designer.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.login-card-container__slide2 {
      background: url("../assets/img/developer.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.login-card-container__slide3 {
      background: url("../assets/img/mining.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .reg-form-container {
    h2 {
      font-family: "Noto Sans", sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
      color: gray;
    }
    .login-form-email-pwd-wrapper {
      .login-form-password,
      .login-form-email {
        width: 30%;
        margin-left: 0;

        // label {}
      }
    }
    .reg-btn {
      margin-top: 1.5rem;
      width: 6rem;
      height: 15%;
      background: rgba(0, 0, 0, 0.8);
      &:hover {
        background: rgba(0, 0, 0, 1);
        border: 0;
      }
      span {
        font-family: "Noto Sans", sans-serif;
        // font-size: 1.3rem;
        font-weight: 600;
        color: white;
      }
    }
  }
}

.carousel-content-container {
  h3 {
    font-family: "Noto Sans", sans-serif;

    color: white;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1.5rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    .author-infos {
      margin-left: 1.22rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        margin: 0;
        margin-bottom: 0.7rem;
        font-weight: 800;
        color: white;
      }
      h4 {
        margin: 0;
        font-weight: 600;
        color: white;
      }
      h5 {
        margin: 0;
        color: white;
        font-weight: lighter;
      }
    }
    .rate-wrapper {
      // border: 1px solid;
      // display: none;
    }
  }
}

// backdrop-filter: blur(20px) saturate(120%) contrast(200%);

.home-container {
  // display: flex;
  // gap: 0.9rem;
  padding: 2rem 0;
  .top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    .filter-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .top-btns-container {
        display: flex;
        gap: 0.5rem;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        .categ-btn {
          border: 0;
          display: inline-block;
          &:hover,
          &:focus {
            background: rgba(128, 128, 128, 0.2);
            font-weight: bold;
            border: 0;
            color: black;
          }
          &:focus {
            background: rgba(128, 128, 128, 0.6);
          }
        }
      }
      .right-filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 0;
      }
    }
    .logout-btn {
      button {
        background: rgba(128, 128, 128, 0.393);
        span {
          color: white;
          text-transform: uppercase;
          font-weight: bold;
        }
        &:hover {
          background: rgba(128, 128, 128, 0.7);
        }
      }
    }
    .logout-btn {
      // justify-self: flex-end;
      align-self: flex-end;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 2rem;
    }
  }
}
.images-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 270px 270px 270px;
  gap: 0.4rem;
  row-gap: 1.5rem;
  padding: 0 10px;
  .single-image-container {
    display: flex;
    flex-direction: column;
    position: relative;

    img.unsplash-image {
      width: 100%;
      // height: fit-content;
      height: 100%;
      border-radius: 2%;
    }
    div.footer-infos {
      display: flex;
      gap: 4.5rem;
      // display: none;
      .left-content {
        // border: 1px solid red;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.25rem;

        // margin-right: 1.5rem;
        button {
          border: 0;
          // background-color: red;
          padding: 0;
          .avatar-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
        span.user-first_name {
          font-family: "Noto Sans", sans-serif;
          font-weight: bold;
          font-size: 0.6rem;
          max-width: 50px;
        }
        div.word {
          background-color: rgba(128, 128, 128, 0.617);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 2px;
          border-radius: 2.5px;
          span {
            font-family: "Noto Sans", sans-serif;
            color: white;
            font-size: 0.5rem;
          }
        }
      }
      .right-content {
        // border: 1px solid green;
        @include d_flex();
        // gap: 0.5rem;
        .likes-wrapper {
          position: relative;
          right: 6px;
          // border: 1px solid;
          img {
            width: 10px;
            height: 20px;
            position: relative;
            top: 3.5px;
          }
          span.likes {
            @include span_styles();
            position: relative;
            bottom: 3.5px;
            left: 3px;
          }
        }
        .views-wrapper {
          img {
            width: 17px;
            height: 20px;
            position: relative;
            top: 3.5px;
          }
          span.views {
            @include span_styles();
            position: relative;
            bottom: 2.5px;
            left: 3px;
          }
        }
      }
    }
    .like-view-btns-wrapper {
      position: absolute;
      right: 15%;
      top: 40%;
      display: none;
      button.like-btn,
      button.view-btn {
        background: none;
        padding: 0;
        width: 5rem;
        height: 5rem;
        backdrop-filter: blur(3px);

        img {
          width: 30px;
        }
      }
    }
    &:hover {
      .like-view-btns-wrapper {
        display: flex !important;
        gap: 0.4rem;
      }
    }
  }
}

.spin-loader {
  border: 1px solid gray !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.ant-image-preview-img {
  // height: 100% !important;
  // width: 60%;
}

.load-more-trigger {
  height: 1px; /* Set the height to a small value */
  visibility: hidden; /* Hide the element */
}
